<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>controller.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortStudentServlet</servlet-name>
        <servlet-class>controller.SortStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <servlet-class>controller.UpdateSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>controller.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortSubjectServlet</servlet-name>
        <servlet-class>controller.SortSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortTeacherServlet</servlet-name>
        <servlet-class>controller.SortTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>controller.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <servlet-class>controller.DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <servlet-class>controller.DeleteTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortMarkServlet</servlet-name>
        <servlet-class>controller.SortMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupMarkServlet</servlet-name>
        <servlet-class>controller.GroupMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUserServlet</servlet-name>
        <servlet-class>controller.SortUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkServlet</servlet-name>
        <servlet-class>controller.UpdateMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentServlet</servlet-name>
        <servlet-class>controller.InsertStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSubjectServlet</servlet-name>
        <servlet-class>controller.InsertSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherServlet</servlet-name>
        <servlet-class>controller.InsertTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserServlet</servlet-name>
        <servlet-class>controller.InsertUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <url-pattern>/updateSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/updateTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortStudentServlet</servlet-name>
        <url-pattern>/sortStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortSubjectServlet</servlet-name>
        <url-pattern>/sortSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortTeacherServlet</servlet-name>
        <url-pattern>/sortTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <url-pattern>/deleteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortMarkServlet</servlet-name>
        <url-pattern>/sortMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupMarkServlet</servlet-name>
        <url-pattern>/groupMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUserServlet</servlet-name>
        <url-pattern>/sortUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkServlet</servlet-name>
        <url-pattern>/updateMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentServlet</servlet-name>
        <url-pattern>/insertStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSubjectServlet</servlet-name>
        <url-pattern>/insertSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherServlet</servlet-name>
        <url-pattern>/insertTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserServlet</servlet-name>
        <url-pattern>/insertUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
